<!DOCTYPE html>
<html lang="en">

<head>
    <title>Lesson-Plan</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>

    <!--===============================================================================================-->
</head>

<body>

    <nav>
        <div class="logo">
            Lesson Plan Management System
        </div>
        <ul>
            <li><a class="active" href="/dashboard">Home</a></li>
            <li><a href="/subjects">Subject</a></li>
            <li><a href="#">Assignments</a></li>
            <li><a href="/calendar">Calendar</a></li>

        </ul>
        <div class="navbar-end">
            <div class="navbar-item">
                <form action="/logout" method="post"><button type="submit" class="button is-primary">Log out</button></form>
            </div>
        </div>
        </div>
        </div>
    </nav>

    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100 ver1 m-b-110">
                    <table data-vertable="ver1">
                        <thead>
                            <tr class="row100 head">
                                <th class="column100 column1" data-column="column1">Weeks</th>
                                <th class="column100 column1" data-column="column1">Objectives</th>

                                <th class="column100 column2" data-column="column2">Sunday</th>
                                <th class="column100 column3" data-column="column3">Monday</th>
                                <th class="column100 column4" data-column="column4">Tuesday</th>
                                <th class="column100 column5" data-column="column5">Wednesday</th>
                                <th class="column100 column6" data-column="column6">Thursday</th>
                                <th class="column100 column7" data-column="column7">Friday</th>
                                <!-- <th class="column100 column8" data-column="column8">Saturday</th> -->
                                <th class="column100 column7" data-column="column7">Remarks</th>


                            </tr>
                        </thead>
                        <% for(let plans of subject.plan) { %>
                            <tbody>
                                <tr class="row100">
                                    <td class="column100 column1" data-column="column1">
                                        <%= plans.week %>
                                    </td>

                                    <td class="column100 column1" data-column="column2">
                                        <%= plans.objectives %>
                                    </td>

                                    <td class="column100 column2" data-column="column3">
                                        <%= plans.sunday %>
                                    </td>

                                    <td class="column100 column3" data-column="column4">
                                        <%= plans.monday %>
                                    </td>
                                    <td class="column100 column4" data-column="column5">
                                        <%= plans.tuesday %>
                                    </td>
                                    <td class="column100 column5" data-column="column6">
                                        <%= plans.wednesday %>
                                    </td>
                                    <td class="column100 column6" data-column="column7">
                                        <%= plans.thursday %>
                                    </td>
                                    <td class="column100 column7" data-column="column8">
                                        <%= plans.friday %>
                                    </td>
                                    <td class="column100 column7" data-column="column9">

                                        <!-- <button class="btn btn-sm btn-danger"><i class="fi-rr-edit-alt"></i></button> -->
                                        <a class="btn btn-primary" href="/subjects/<%= subject._id %>/plan/<%= plans._id %>/edit" role="button"><i class="fi-rr-edit-alt"></i></a>


                                    </td>

                                </tr>


                            </tbody>
                            <% } %>
                    </table>
                </div>


                </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>

</body>

</html>