<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title> Menu</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/hi.css">
    <link rel="stylesheet" href="/css/popup1.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav>
        <div class="logo">
            Lesson Plan Management System
        </div>
        <ul>
            <li><a class="active" href="/dashboard">Home</a></li>
            <li><a href="/subjects">Subject</a></li>
            <li><a href="/showass">Assignments</a></li>
            <li><a href="/calendar">Calendar</a></li>
        </ul>
        <div class="navbar-end">
            <div class="navbar-item">
                <form action="/logout" method="post"><button type="submit" class="button is-primary">Log out</button></form>
            </div>
        </div>
        </div>
        </div>
    </nav>

    <div class="wrapper">
        <ul>
            <li>
                <a href="/subjects/<%=subject._id %>/plan/new "> Create plan</a>
            </li>
            <li>
                <li>
                    <a href="/subjects/<%= subject._id %>/plan "> View Plan</a></li>
                <li>
                    <a href="/subjects/<%= subject._id %>/assignment/new ">Create Assignment</a></li>
                <li>
                    <a href="/subjects/<%= subject._id %>/assignment ">View Assignment</a></li>
                <li>
                    <a href="/subjects/<%= subject._id %>/resources/new ">Create Resources</a></li>
                <li>
                    <a href="/subjects/<%= subject._id %>/resources ">View Resources</a></li>

                <li>
                    <a href="/calendar">Calendar</a></li>


                <li>
                    <form id="my_form" class="d-inline" action="/subjects/<%=subject._id%>?_method=DELETE" method="POST">
                        <a href="javascript:{}" onclick="document.getElementById('my_form').submit();">Delete</a>
                    </form>
                </li>

        </ul>
    </div>

</body>

</html>